@media(max-width:767.98px){

    .imagem-curso-gestao .content{
    margin-left: 290px !important;
    width: 70%;
    }

    .card{
        width: 150px;
    }

    .card-icon{
        font-size: 17px !important;
    }

    .slider1{
        top: 400px;
        margin-left: 20px;
    }

    .botao-lista {
        width: 182px;              
        height: 80px;              
        background-color: #c1b4b4;  
        color: #ac78bf;               
        border: none;               
        border-radius: 50px;         
        font-size: 25px;            
        cursor: pointer;            
      }
      
      .botao-play {
        width: 80px;              
        height: 80px;              
        background-color: #c1b4b4;  
        color: #ac78bf;               
        border: none;               
        border-radius: 50%;         
        font-size: 50px;            
        cursor: pointer;            
      }
      
      button:hover {
        background-color: #8f8f8f;  
      }
      
      
      
}