.curso-page main div h1 {
    text-align: center;
    line-height: 2.2;
    color: #fff;
    margin-bottom: -8.5rem;
}

.curso-page main div h1 strong {
    color: #B471CC;
}

.curso-page main div .content {
    display: flex; /* Adiciona flexbox para o contêiner */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui os elementos; você pode usar flex-end para alinhá-los à direita */
    position: relative;
    width: 1424px;
    height: 69px;
    left: 4%;
    top: 154px;
    background-color: #777777;
    color: #fff;
}

.botao-lista {
    width: 211px;
    height: 47px;
    background-color: #dcdada;
    color: #8A32A9;
    border: none;
    border-radius: 91px;
    font-size: 26px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif; /* Corrigido para 'sans-serif' */
    font-weight: bold;
}

.conteudo{
    position: relative;
    top: 164px;
}

.curso-page main div .segundocontent {
        display: flex; /* Adiciona flexbox para o contêiner */
        align-items: center; /* Alinha os itens verticalmente ao centro */
        justify-content: space-between; /* Distribui os elementos; você pode usar flex-end para alinhá-los à direita */
        position: relative;
        width: 1424px;
        height: 69px;
        left: 4%;
        top: 164px;
        background-color: #777777;
        color: #fff;
    }
    
.curso-page main div .terceirocontent {
    display: flex; /* Adiciona flexbox para o contêiner */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui os elementos; você pode usar flex-end para alinhá-los à direita */
    position: relative;
    width: 1424px;
    height: 69px;
    left: 4%;
    top: 174px;
    background-color: #777777;
    color: #fff;
}

.curso-page main div .quartocontent {
    display: flex; /* Adiciona flexbox para o contêiner */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui os elementos; você pode usar flex-end para alinhá-los à direita */
    position: relative;
    width: 1424px;
    height: 69px;
    left: 4%;
    top: 184px;
    background-color: #777777;
    color: #fff;
}

.curso-page main div .quintocontent {
    display: flex; /* Adiciona flexbox para o contêiner */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui os elementos; você pode usar flex-end para alinhá-los à direita */
    position: relative;
    width: 1424px;
    height: 69px;
    left: 4%;
    top: 194px;
    background-color: #777777;
    color: #fff;
}

.curso-page main div .sextocontent {
    display: flex; /* Adiciona flexbox para o contêiner */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui os elementos; você pode usar flex-end para alinhá-los à direita */
    position: relative;
    width: 1424px;
    height: 69px;
    left: 4%;
    top: 204px;
    background-color: #777777;
    color: #fff;
}