.dados{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center; 
    background-color: #2C2B2B;
    color: #5EDF26;
    height: 115vh;
}

.content{
    position: absolute;
    align-items: center;
    width: 49rem;
    height: 26.5rem !important;
    top: 20.4rem;
    background-color: #1F1F1F;
}

.nome-empresa{
    color: #dd81da
}

.titulo-meu-perfil{
    position: absolute;
    text-align: center;
    top: 15%;
    font-family: 'Oswald', 'sans-serif';
  }



.textos {
  position: absolute;
  top: 35%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-family: 'Oswald', 'sans-serif';
}

.nome-perfil{
    padding-top: 1.5%;
    font-family: 'Oswald', 'sans-serif';
}

.nome-empresa{
    font-family: 'Oswald', 'sans-serif';
}

.avatar{
    position: absolute;
    align-items: center;
    top: 25%;
    left: 10%;
    img{
        width: 25%;
        height: auto;
        flex-shrink: 0;
    }
}


strong {
    color: #fff;
}
