.custom-navbar{
  background-color: black;
  transition: margin-left 0.5s ease;
}

.custom-navbar.sidebar-open{
  margin-right: 400px;
}

@media(max-widht: 768px) {
  .custom-navbar.sidebar-open {
    margin-right: 350px;
  }
}

.navbar-container {
  width: 100%;
  padding: 0;
}

.navbar .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-link i{
  display: flex !important;
    align-items: center !important; 
    justify-content: center !important; 
    padding: 0 !important ;
  font-size: 1.5rem !important;
}

.navbar .nav {
  display: flex !important;
  flex-direction: row !important; 
  justify-content: flex-end !important; 
  align-items: center !important; 
  flex-wrap: nowrap !important; 
}

@media (max-width: 990px) {
  .navbar .nav-link i {
    display: inline-block;
  }
}

@media (max-width:992px){
  .navbar .nav-link i{
    font-size: 1.2rem;
  }
}

@media (max-width: 768px){
  .navbar .nav-link{
    font-size: 1rem;
    padding: 0 5px;
  }
}

@media (max-width: 576px){
  .navbar .nav-link i{
    display: inline-block !important;
    font-size: 0.8rem !important;
    padding: 0 5px !important;
    
    
  }
}

.custom-title {
  margin-left: 0;
  padding-left: 0;
  text-align: left; 
  display: block; 
  font-family: 'Dangrek', sans-serif;
  margin-left: 5%;
  color: white !important;
}

.navbar-brand{
  font-size: 2rem !important;
}

@media (max-width:992px){
  .navbar-brand{
    font-size: 1.7rem !important;
  }
}

@media (max-width:768px){
  .navbar-brand{
    font-size: 1.5rem !important;
  }
}

@media (max-width:576px){
  .navbar-brand{
    font-size: 1rem !important;
  }
}
/* src/components/NavBar/NavBarComponent.css */
.bi-bell-fill {
  color:  rgba(94, 223, 38) !important; /* Define a cor laranja do ícone */
  font-size: 1.5rem; /* Aumenta o tamanho do ícone, se necessário */
}

.bi-bell{
  color: rgba(94, 223, 38) !important;
  font-size: 1.5rem;
}

.bi-search{
  color:  rgba(94, 223, 38) !important;
  font-size: 1.5rem;
}

.bi-search:hover{
  color:rgba(94, 223, 38, 0.5) !important;
}

.dropdown{
  cursor: pointer;
}

.bi-distribute-vertical{
  color:  rgba(94, 223, 38) !important;
  font-size: 1.5rem;
}

.bi-distribute-vertical:hover{
  color:  rgba(94, 223, 38, 0.5) !important;
  font-size: 1.5rem;
}