.custom-footer {
  background-image: url('/public/imagens/comeia_preta.png'); 
  bottom: 0;
  padding: 0px;
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  width: 100%;
  min-height: 100px;
  padding: 20px;
  z-index: 1;
  box-sizing: border-box;
  padding-bottom: 5px;
  background-attachment: scroll;
  position: relative;
}
